.cameraContainer {
 height:95%;
 width:95%;
  border-radius: 16px;
  overflow: hidden;
  background: #000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
