.container{
    height:100vh;
    width:100vw;
}
.First_container{
    height:90vh;
width:20vw;
 background-color: rgba(0, 0, 0, 0.551);
border:2px solid black;
display: flex;
flex-direction: column;
}
.imageContainer{
    height:15%;
    width:30%;
    border:3px solid pink;
    border-radius:12px;
}
.span{
    color:white;
    font-size:1.2rem;
}
.button{
background-color: rgb(50, 255, 50);
color:green;
width:90%;
height:5%;
border-radius:10px;
}