.InfoContainer {
  height:35vh;
  width:99.4vw;
  color:black;
  border:2px solid black;
}
.heading {
padding:20px 0px 20px 30px;
  font-family: sans-serif;
  font-size:30px;
}
.para{
  color:black;
  font-size:17px;
  padding-left:25px;
  padding-right:25px;
}