.Container {
    width: 100vw;
    height: 40vh;
    background-color: #0d0c0c;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color:white;
}
.heading{
    font-size: 24px;
    font-weight: bold;
}
.Button{
    width: 150px;
    height: 40px;
    background-color: #25eb28;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}