.wrapper{
  background:#1e1e1e;
  padding:20px;
  border-radius:10px;
  width:fit-content;
  color:white;
  width:95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  margin-bottom:10px;
  font-size:14px;
}

.graph{
  display:flex;              /* 🔥 horizontal */
  gap:4px;
}

.column{
  display:flex;
  flex-direction:column;     /* days vertically */
  gap:4px;
}

.cell{
  width:12px;
  height:12px;
  border-radius:2px;
}

/* COLOR LEVELS */
.level0{ background:#000000; }    /* not visited */
.level1{ background:#1f2937; }    /* <15 min */
.level2{ background:#22c55e; }    /* 15+ min */
.level3{ background:#15803d; }    /* 1 hour+ */
