.Container {
  height: 95vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.JobTitleContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 95%;
  width: 30%;
  border: 2px solid red;
  border-radius: 10px;
}
.replyContainer {
  height: 95%;
  width: 65%;
  border: 2px solid rgb(18, 24, 19);
  border-radius: 10px;
  overflow-y: auto;
}

.replyContainer::-webkit-scrollbar {
  width: 10px;
}

.replyContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.replyContainer::-webkit-scrollbar-thumb {
  background: rgb(22, 29, 24);
  border-radius: 10px;
}

.replyContainer::-webkit-scrollbar-thumb:hover {
  background: rgb(14, 20, 16);
}
