.Container{
    height:95vh;
    width:100vw;
    display: flex;
    justify-content: space-evenly;
align-items: center;
}
.JobTitleContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:90%;
    width:40%;
    border:2px solid red;
    border-radius:10px;
}
.replyContainer{
    height:90%;
    width:55%;
    border:2px solid rgb(0, 255, 68);
    border-radius:10px;
}