.Container {
  box-sizing: border-box;
  height: 94vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}
.ScreenPannel {
  height: 90vh;
  width: 67vw;
  border: 2px solid purple;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(72, 70, 70);
}
.DisplayContainer {
  height: 75vh;
  width: 95%;
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
  color: black;
}
.InputContainer {
  height: 8vh;
  width: 95%;
}
.Form{
    height:100%;
    width:100%;
      display: flex;
 gap:30px;
  align-items: center;
}
.Search{
    height:70%;
    min-width:80%;
  padding: 10px 24px;
  background: rgba(11, 10, 10, 0.538);
  color: rgb(248, 234, 234);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  box-shadow: 0 2px 8px rgba(142, 45, 226, 0.2);
  animation: pulse 1.2s infinite alternate;
}
.SearchBtn:hover {
    height:60%;
    width:10%;
  transform: scale(1.07);
  box-shadow: 0 4px 16px rgba(142, 45, 226, 0.3);
}
.SendBtn {
    height:65%;
    width:10%;
  background: linear-gradient(90deg, #00ff62, #84ff00);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  box-shadow: 0 2px 8px rgba(0, 198, 255, 0.2);
  animation: pulse 1.2s infinite alternate;
  display:flex;
  justify-content: center;
  align-items: center;
}
.SendBtn:hover {
  transform: scale(1.07);
  box-shadow: 0 4px 16px rgba(0, 198, 255, 0.3);
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 rgba(142, 45, 226, 0.4);
  }
  to {
    box-shadow: 0 0 16px 8px rgba(142, 45, 226, 0.1);
  }
}
.OutputPannel {
  height: 90vh;
  width: 27vw;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #424242;
}
.StudentPannel {
  height: 40%;
  width: 95%;
  border: 2px solid yellow;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
.TextPannel {
  height: 55%;
  width: 95%;
  border: 2px solid pink;
  background-color: white;
  overflow-y: auto;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
