.container {
  font-family: "Segoe UI", sans-serif;
  color: #1f2933;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
/* HERO */
.hero {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  box-sizing: border-box;
  text-align: center;
  height:50vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hero h1 {
  font-size: 28px;
  margin-bottom: 18px;
  margin-top:2rem;
}

.hero p {
  font-size: 19px;
  max-width: 750px;
  margin: auto;
  line-height: 1.7;
  color:white;
}

/* INTRO */
.intro {
  box-sizing: border-box;
  padding: 70px 25px;
  text-align: center;
  margin-top: 10px;
}

.intro h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.intro p {
  max-width: 800px;
  margin: auto;
  font-size: 16.5px;
  line-height: 1.8;
  color: #4b5563;
}

/* CARDS */
.cardsSection {
  background: #f4f6f8;
  padding: 70px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.card {
  background: white;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}
.card p{
  color:#4b5563;
  font-size: 15px;
  padding: 20px 0px 20px 0px;
}
.card:hover {
  transform: translateY(-10px);
}

/* VALUES */
.values {
  padding: 70px 25px;
  text-align: center;
}

.values h2 {
  font-size: 30px;
  margin-bottom: 35px;
}
.card h3{
font-weight: 800;
}
.valuesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  max-width: 800px;
  margin: auto;
}

.valuesGrid div {
  background: #e5f0f5;
  padding: 18px;
  border-radius: 14px;
  font-weight: 600;
}

/* FOOTER */
.footer {
  background: #0f172a;
  color: #cbd5e1;
  padding-top: 40px;
}

.footerContent {
  text-align: center;
  padding-bottom: 30px;
}

.footerBottom {
  border-top: 1px solid #334155;
  text-align: center;
  padding: 15px;
  font-size: 13px;
}
.styledLink {
    height:50px;
    width:100px;
    border-radius: 5px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
  color: #7c0a7c;             
  font-weight: 600;
  text-decoration: none;
  position: relative;
  margin-bottom:2rem;
  transition: color 0.3s ease;
}
@media (max-width: 768px) {
  .intro {
    padding: 50px 15px;
  }

  .intro h2 {
    font-size: 24px;
  }

  .intro p {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .values h2 {
    font-size: 22px;
  }
    .footerContent p {
    font-size: 12px;  
    line-height: 1.5;
  }

  .valuesGrid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .cardsSection {
    padding: 50px 20px;
    gap: 20px;
  }

  .card {
    padding: 25px;
  }
}
@media (max-width: 600px) {
  .styledLink {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
}